
 .mainColor{
    background-color: #205375;
  }
  
  .defaultTextColor{
    color: white;
  }
  
  button {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

.modalHead{
  font-size: medium;
  background-color: #205375;
  color: white;
}

.navbar{
  background-color: #205375 !important;
}
.navtext {
  color: white !important;
}

.btn.btn-success {
  background-color: #125B50;
  border-color: #125B50;
  color: white;
}

.btn.btn-success:focus {
  color: #fff;
  background-color: #125B50;
  border-color:  #125B50;
  outline: none;
  box-shadow: none;
}
.btn.btn-success:hover {
  color: #fff;
  background-color: #125B50;
  border-color: #125B50;
  outline: none;
  box-shadow: none;
}
.btn.btn-success.active,
.btn.btn-success:active {
  color: #fff;
  background-color: #125B50;
  border-color: #125B50;
  outline: none;
}



.btn.btn-secondary {
  background-color: #112B3C;
  border-color: #112B3C;
  color: white;
}

.btn.btn.btn-secondary:focus {
  color: #fff;
  background-color: #112B3C;
  border-color:  #112B3C;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary:hover {
  color: #fff;
  background-color: #112B3C;
  border-color: #112B3C;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary.active,
.btn.btn-secondary:active {
  color: #fff;
  background-color: #112B3C;
  border-color: #112B3C;
  outline: none;
}


.btn.btn-outline-primary {
  background-color: #205375;
  border-color: #205375;
  color: white;
}

.btn.btn-outline-primary:focus {
  color: #fff;
  background-color: #205375;
  border-color:  #205375;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-primary:hover {
  color: #205375;
  background-color: #fff;
  border-color: #205375;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-primary.active,
.btn.btn-outline-primary:active {
  color: #fff;
  background-color: #205375;
  border-color: #205375;
  outline: none;
}



input[type="file"]{
  display: none;
}


.defaultButtonDeleteRegister{
  background-color: #112B3C !important;
  color: white !important;
}

.defaultButtonUpdateRegister{
  background-color: #125B50 !important;
  color: white !important;
}

.errorMessages{
  color: red;
}

.shadow-animation:hover{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2) !important;
}


